# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos do Jupyter
.ipynb_checkpoints/

# Configurações do VS Code
.vscode/

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Dados gerados pelo pipeline
data/processed/*
data/analytics/*

# Mantém a estrutura das pastas
!data/processed/.gitkeep
!data/analytics/.gitkeep

# Dados brutos fornecidos no desafio LH Nautical
data/raw/*

# Mantém a estrutura da pasta raw no Git
!data/raw/.gitkeep